In [44]:
import pandas as pd

In [45]:
df = pd.read_csv("nyka_top_brands_cosmetics_product_reviews.csv")
df.head()

,product_id,brand_name,review_id,review_title,review_text,author,review_date,review_rating,is_a_buyer,pro_user,review_label,product_title,mrp,price,product_rating,product_rating_count,product_tags,product_url
0,781070,Olay,16752142,Worth buying 50g one,Works as it claims. Could see the difference f...,Ashton Dsouza,2021-01-23 15:17:18,5.0,True,False,Verified Buyer,Olay Ultra Lightweight Moisturiser: Luminous W...,1999,1599,4.1,43,NaN,https://www.nykaa.com/olay-ultra-lightweight-m...
1,781070,Olay,14682550,Best cream to start ur day,It does what it claims . Best thing is it smoo...,Amrit Neelam,2020-09-07 15:30:42,5.0,True,False,Verified Buyer,Olay Ultra Lightweight Moisturiser: Luminous W...,1999,1599,4.1,43,NaN,https://www.nykaa.com/olay-ultra-lightweight-m...
2,781070,Olay,15618995,perfect for summers dry for winters,I have been using this product for months now....,Sanchi Gupta,2020-11-13 12:24:14,4.0,True,False,Verified Buyer,Olay Ultra Lightweight Moisturiser: Luminous W...,1999,1599,4.1,43,NaN,https://www.nykaa.com/olay-ultra-lightweight-m...
3,781070,Olay,13474509,Not a moisturizer,"i have an oily skin, while this whip acts as a...",Ruchi Shah,2020-06-14 11:56:50,3.0,True,False,Verified Buyer,Olay Ultra Lightweight Moisturiser: Luminous W...,1999,1599,4.1,43,NaN,https://www.nykaa.com/olay-ultra-lightweight-m...
4,781070,Olay,16338982,Average,It's not that good. Please refresh try for oth...,Sukanya Sarkar,2020-12-22 15:24:35,2.0,True,False,Verified Buyer,Olay Ultra Lightweight Moisturiser: Luminous W...,1999,1599,4.1,43,NaN,https://www.nykaa.com/olay-ultra-lightweight-m...

In [46]:
df.columns

Index(['product_id', 'brand_name', 'review_id', 'review_title', 'review_text',
       'author', 'review_date', 'review_rating', 'is_a_buyer', 'pro_user',
       'review_label', 'product_title', 'mrp', 'price', 'product_rating',
       'product_rating_count', 'product_tags', 'product_url'],
      dtype='object')

In [47]:
product_columns = [
    "review_id", "review_title", "review_text",
    "author", "review_date", "review_rating",
    "is_a_buyer", "pro_user", "review_label",
    "product_url"
]
products_df = df.drop(columns=product_columns)
products_df = products_df.drop_duplicates(subset="product_id") # Drop duplicate product_id entries (keeping the first occurrence)
products_df = products_df.reset_index(drop=True) # Reset the index after dropping duplicates

In [48]:
products_df.head()

,product_id,brand_name,product_title,mrp,price,product_rating,product_rating_count,product_tags
0,781070,Olay,Olay Ultra Lightweight Moisturiser: Luminous W...,1999,1599,4.1,43,NaN
1,739418,Olay,Olay Regenerist Whip Mini and Ultimate Eye Cre...,2198,1943,4.0,792,NaN
2,6836720,Olay,"Olay Aha & Niacinamide Super Cream , Acne Mark...",1999,1399,3.8,6,FEATURED
3,61305,Olay,Olay White Radiance Day & Night Cream for Brig...,2798,2378,4.0,55,NaN
4,60541,Olay,Olay Total Effects 7 In One Anti-Ageing Day Cr...,375,375,3.9,99,NaN

In [49]:
products_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 295 entries, 0 to 294
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   product_id            295 non-null    int64
 1   brand_name            295 non-null    object
 2   product_title         295 non-null    object
 3   mrp                   295 non-null    int64
 4   price                 295 non-null    int64
 5   product_rating        295 non-null    float64
 6   product_rating_count  295 non-null    int64
 7   product_tags          30 non-null     object
dtypes: float64(1), int64(4), object(3)
memory usage: 18.6+ KB

In [50]:
review_columns = [
    "review_id", "author", "review_date",
    "review_rating", "is_a_buyer", "pro_user", "product_id"
]
reviews_df = df[review_columns].copy()

In [51]:
reviews_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61284 entries, 0 to 61283
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   review_id      61284 non-null  int64
 1   author         61284 non-null  object
 2   review_date    61284 non-null  object
 3   review_rating  61283 non-null  float64
 4   is_a_buyer     61284 non-null  bool
 5   pro_user       61284 non-null  bool
 6   product_id     61284 non-null  int64
dtypes: bool(2), float64(1), int64(2), object(2)
memory usage: 2.5+ MB

In [52]:
reviews_df["review_date"] = pd.to_datetime(reviews_df["review_date"], errors="coerce")

In [53]:
reviews_df["review_date"]

0       2021-01-23 15:17:18
1       2020-09-07 15:30:42
2       2020-11-13 12:24:14
3       2020-06-14 11:56:50
4       2020-12-22 15:24:35
                ...
61279   2021-04-12 13:28:41
61280   2021-04-12 11:47:07
61281   2021-04-12 10:58:34
61282   2021-04-11 21:44:55
61283   2022-06-20 17:41:52
Name: review_date, Length: 61284, dtype: datetime64[ns]

In [54]:
reviews_df = reviews_df[(
    reviews_df["author"].notna() &
    reviews_df["author"].str.match(r"^[A-Za-z .'-]+$")
)].reset_index(drop=True)
#It’s not reducing it to one column — it’s filtering the rows, based on that condition.

In [55]:
reviews_df = reviews_df.dropna(subset=["review_rating"])

In [56]:
reviews_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 60731 entries, 0 to 60731
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   review_id      60731 non-null  int64
 1   author         60731 non-null  object
 2   review_date    60731 non-null  datetime64[ns]
 3   review_rating  60731 non-null  float64
 4   is_a_buyer     60731 non-null  bool
 5   pro_user       60731 non-null  bool
 6   product_id     60731 non-null  int64
dtypes: bool(2), datetime64[ns](1), float64(1), int64(2), object(1)
memory usage: 2.9+ MB

In [58]:
products_df.to_csv("products_table.csv")
reviews_df.to_csv("reviews_table.csv")

In [59]:
!pip install sqlalchemy pymysql

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: sqlalchemy in c:\programdata\anaconda3\lib\site-packages (2.0.30)
Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\lenovo\appdata\roaming\python\python312\site-packages (from sqlalchemy) (3.2.3)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
   ---------------------------------------- 0.0/45.0 kB ? eta -:--:--
   --------- ------------------------------ 10.2/45.0 kB ? eta -:--:--
   ---------------------------------------- 45.0/45.0 kB 739.0 kB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1

In [60]:
from sqlalchemy import create_engine

In [61]:
# Replace these with your own MySQL credentials
username = 'root'           # or your MySQL username
password = '12345'  # your MySQL password
host = 'localhost'          # usually 'localhost'
port = 3306                 # MySQL default port
database = 'project'   # your MySQL database name

# Create SQLAlchemy engine
engine = create_engine(f"mysql+pymysql://{username}:{password}@{host}:{port}/{database}")

In [63]:
# Export to MySQL
products_df.to_sql(name='products', con=engine, if_exists='append', index=False)
reviews_df.to_sql(name='reviews', con=engine, if_exists='append', index=False)

60731